### Import required Libraries

In [1]:
import gzip
import shutil
import pandas as pd
import os

### Unzip the installed .gz file

In [2]:
with gzip.open('C:/Mohit/IMDb/name.basics.tsv.gz', 'rb') as f_in:
    with open('name.basics.txt', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

### Create a dataframe to transform data

In [3]:
df = pd.read_csv('C:/Mohit/Git/Technical-Task/name.basics.txt', sep='\t')
pd.set_option('display.width', 70000)
df.head()

      nconst      primaryName birthYear deathYear                    primaryProfession                           knownForTitles
0  nm0000001     Fred Astaire      1899      1987       soundtrack,actor,miscellaneous  tt0053137,tt0072308,tt0050419,tt0031983
1  nm0000002    Lauren Bacall      1924      2014                   actress,soundtrack  tt0037382,tt0038355,tt0071877,tt0117057
2  nm0000003  Brigitte Bardot      1934        \N  actress,soundtrack,music_department  tt0056404,tt0057345,tt0049189,tt0054452
3  nm0000004     John Belushi      1949      1982              actor,soundtrack,writer  tt0080455,tt0077975,tt0078723,tt0072562
4  nm0000005   Ingmar Bergman      1918      2007                writer,director,actor  tt0083922,tt0050986,tt0069467,tt0060827

### Split Column 'primaryProfession' to filter out first of 3 profession

In [4]:
df[['P1', 'P2', 'P3']] = df['primaryProfession'].str.split(',', expand=True)
df.head()

      nconst      primaryName birthYear deathYear                    primaryProfession                           knownForTitles          P1          P2                P3
0  nm0000001     Fred Astaire      1899      1987       soundtrack,actor,miscellaneous  tt0053137,tt0072308,tt0050419,tt0031983  soundtrack       actor     miscellaneous
1  nm0000002    Lauren Bacall      1924      2014                   actress,soundtrack  tt0037382,tt0038355,tt0071877,tt0117057     actress  soundtrack              None
2  nm0000003  Brigitte Bardot      1934        \N  actress,soundtrack,music_department  tt0056404,tt0057345,tt0049189,tt0054452     actress  soundtrack  music_department
3  nm0000004     John Belushi      1949      1982              actor,soundtrack,writer  tt0080455,tt0077975,tt0078723,tt0072562       actor  soundtrack            writer
4  nm0000005   Ingmar Bergman      1918      2007                writer,director,actor  tt0083922,tt0050986,tt0069467,tt0060827      writer    director             actor

### Dataframe showing people who are still 'alive' and their first of 3 profession is 'producer'

In [5]:
df = df[(df['P1']=='producer') & (df['deathYear']=='\\N')]
df.head()

        nconst      primaryName birthYear deathYear            primaryProfession                           knownForTitles        P1        P2          P3
105  nm0000106   Drew Barrymore      1975        \N  producer,actress,soundtrack  tt0343660,tt0160127,tt0151738,tt0120631  producer   actress  soundtrack
112  nm0000113   Sandra Bullock      1964        \N  producer,actress,soundtrack  tt1454468,tt0111257,tt1041829,tt0212346  producer   actress  soundtrack
157  nm0000158        Tom Hanks      1956        \N    producer,actor,soundtrack  tt0120815,tt0109830,tt0094737,tt0162222  producer     actor  soundtrack
216  nm0000217  Martin Scorsese      1942        \N      producer,director,actor  tt0106226,tt0070379,tt0099685,tt0075314  producer  director       actor
218  nm0000219    Steven Seagal      1952        \N        producer,actor,writer  tt0110725,tt0105690,tt0094602,tt0242445  producer     actor      writer

### Dataframe showing no of people who are still 'alive' and their first of 3 profession is 'producer'

In [6]:
df.shape

(576949, 9)